body {
    transition: color 1.2s;
    color: #000000; /* Initial text color */
    
  }

.dark-mode-slider {
    width: 100px;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #ffffff,#ffffff,#c9a151, #330066);
    outline: 2px solid black; 
    opacity: 0.9;
  
  
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
  appearance: none; 
  height: 30px;
  width: 30px;
  background: transparent;
  background: url('TablerMoon2.svg') center/cover;
  cursor: pointer;
  
}
  

  